body {
    background-color: black;
}

.container {
    position: relative;
}

.container img {
display: -webkit-box;
margin-left: auto;
}

.text {
    position: absolute;
    bottom: 50px;
    background-color: black;
    color: white;
    padding-left: 60px;
    padding-right: 300px; 
    padding-top: 250px;
    padding-bottom: 60px;
}

.text h1 {
    text-transform: uppercase;
}

.text h1 span {
    color:rgb(56, 211, 110);
}
